@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: block;
    align-items: center;
    justify-content: center;
    height:100vh;
}

h1{
    font-size: 6rem;
    text-align: center;
}

.MyNameIs{
    font-size: 5rem;
    text-align: center;
}

.fa-linkedin-square{
    position: fixed;
    top: 1px;
    right: 5px;
}



nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Stylizace hlavičky */
header {
    background-color: #333; /* Barva pozadí */
    padding: 8px; /* Odsazení vnitřního obsahu od okraje */
    text-align: center; /* Zarovnání textu na střed */
}

/* Stylizace navigačního menu v hlavičce */
nav ul {
    display: flex; /* Přepnutí na flexbox layout */
    justify-content: center; /* Zarovnání položek na střed */
}

nav li {
    margin: 0 25px; /* Odsazení mezi jednotlivými položkami menu */
}

nav a {
    color: white; /* Barva textu odkazů */
    text-decoration: none; /* Odstranění podtržení odkazů */
    font-weight: bold; /* Tučný font */
}

